/* Header*/
.header {
  width: 100%;
  height: 89px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dd3333;
}

.header-logo img {
  max-height: 89px;
}

.btn-search {
  background-color: transparent;
  border: 0;
}

.btn-search img {
  height: 17px;
  width: 17px;
}

.btn-try {
  background: rgb(255 200 31);
  border-radius: 100px;
  padding: 10px 20px;
  color: white;
  border: 0;
}

.header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}